@inherits MvcIOC.Pages.ProteinTrackerBasePage
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@AnalyticService.Code
@using (Html.BeginForm("AddProtein", "ProteinTracker", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <h2>Protein Tracker</h2>
                Total: @ViewBag.Total
                Goal: @ViewBag.Goal

                <input type="text" name="amount" class="form-control" />
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
